target/
!.mvn/wrapper/maven-wrapper.jar
built
*.class
dump.rdb
bower_components
node_modules
node
*.log
asciidoctor.css

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Package Files #
*.jar
*.war
*.ear
